<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= @classroom.name %></h3>
    </div>
  </div>

  <div class="row">
    <% @classroom.students.each do |student| %>
      <p><%= student.name %></p>
    <% end %>
    <% @classroom.assignments.each do |assignment| %>
      <p><%= link_to assignment.name, assignment_path %></p>
    <% end %>
    <%= link_to "Create Assignments", new_assignment_path({:assignment => @assignment, :teacher => @teacher, :classroom => @classroom}) %>
  </div>

  <!-- Josh, this is where the button goes to add an assignment. Dont fuck it up. -->
</div>
