<div class="row text-center center-block">
  <br>
  <h1>Assignments</h1>
  <% student_class_assignments.each do |assignment| %>
    <div class="col-xs-3">
      <div class="assignment-block">
        <% if assignment %>
          <%= link_to(assignment_path(assignment.assignment_id), blank: :true) do %>
            <h4><%= Assignment.find(assignment.assignment_id).name.capitalize %></h4>
          <% end %>
        <% end %>
      </div>
      <br>
    </div>
  <% end %>
</div>


