<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @student.name %></h1>
      <br>

      <div class="col-sm-4 col-sm-offset-4 text-center">
        <select id="classlist">
          <option>Select A Class</option>
        <% @classes.each do |clss| %>
          <option value="<%= clss.id %>"><%= clss.name %></option>
        <% end %>
        </select>
      </div>
      <div class="class_assignments"></div>
    </div>
  </div>
</div>


