@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import "bootstrap-sprockets";
@import "bootstrap";


$blue: #2988BC;
$sea: #2F496E;
$plaster: #F4EADE;
$coral: #ED8C72;

@import "navbar";

h1,h2,h3,h4 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#page-wrap {
  margin-top: 100px;
}

#student {
  background: url('https://www.plt.org/stuff/contentmgr/files/1/0446e78188b26886b73c8914023b936f/files/istock_000006326911large.jpg');
  background-size: cover;
  background-position-y: -350px;
  // &:hover {
  //   background-size: 120%;
  //   transition: background-size 2s ease-in;
  //   -moz-transition: background-size 2s ease-in;
  //   -ms-transition: background-size 2s ease-in;
  //   -o-transition: background-size 2s ease-in;
  //   -webkit-transition: background-size 2s ease-in;
  // }
}

#teacher {
  background: url('http://i.huffpost.com/gen/1573459/images/o-SAD-TEACHER-facebook.jpg');
  background-size: cover;
  background-position-y: -350px;
}

.text-hero {
  padding: 150px 0px;
  background-color: rgba(0,0,0,0.3);
  h2 {
    color: #FFF;
  }
}

